html,
body {
    box-sizing: border-box;
    color: white;
    background-color: black;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, .2)), url("https://source.unsplash.com/collection/17315172");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh; 
    overflow-x: hidden;   
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
}

.content {
    height: 100vh;
    text-align: center;
    margin: auto;
    display: flex;
    flex-direction: column;
}

.padding-small {
    padding: 1rem;
}


/* Clock */

.clock-section {
    display: flex;
    padding-top: 20px;
}

.clock-container {
    padding-top: 5rem;
    text-align: center;
    margin-bottom: -30px;
    font-size: 13rem;
    font-weight: 450;
}

/* To do today section */
.do-today-section {
    display: flex;
    font-size: 3rem;
    margin-top: 20px;
    padding-bottom: 2rem;
}

.task-input {
    margin: auto;
}

.main-task-input { 
    text-align: center;
    width:65%;
    font-size: 2.5rem;
    border: none;
    outline: none;
    background: transparent;
    border-bottom: 2px solid;
}

.task { 
    margin: auto;
    width: 100%;
    display: none;
    padding-top:1.5rem;
    margin-bottom: -3rem;
    font-size:2.5rem
}


.taskCheckboxDiv {
    display: none;
}

.taskCheckbox{
    opacity: 70%;
}
.taskCheckbox:hover {
    opacity: 100%;
}

.removeTaskIcon{
    opacity: 70%;
}

.removeTaskIcon:hover {
    opacity: 100%;
}

.removeTaskDiv {
    display: none;
}


/* .mainTaskText:hover + .removeTaskDiv, .removeTaskDiv:hover{
    display: inline-block;
} */

#doneMessage {
    font-size: 1.75rem;
    opacity: 0;
    transition: opacity 1s; 
  }
  
  #doneMessage.fade {
    opacity: 1;
  }



/* Quote */

.quote-section {
    display: flex;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.quote-container {
    padding:1.5rem;
    margin: auto;
    width: auto;
    text-align: center;
    width: 100%;
    max-width: 900px;
    
   /* border-radius: 10px;
    background-color: rgba(0, 0, 0, .3);
    box-shadow: 0 5px 5px 5px rgba(255, 255, 255, 0.2); */
}

.quote-content {
    padding-top: 1rem;
}

.quote-text {
    /*font-size: 1.5rem;*/
}

.quote-author {
    font-style: italic;

}

.long-quote {
    font-size: 1rem
}

.quote-content:hover + .button-container, .button-container:hover{
    display: inline-block;
}


/* Buttons */
.button-container {
    width: 100%;
    padding-top: 5px;
    display: none;
}

.twitter-button {
    opacity: 0.8;
    padding: 2px;
}

.twitter-button:hover {
    color: #38a1f3;
}

.generate-button {
    opacity: 0.7;
    padding: 2px;
    ;
}

.generate-button:hover {
    opacity: 1;
    color: white;
}




/* Loader */
.loader {
    margin: auto;
    border: 5px solid #f3f3f3;
    /* Light grey */
    border-top: 5px solid #555;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

/* Media queries */